{% extends "layout.html" %}

{% block head %}
<title>Hakkında</title>
{% endblock %}

{% block body %}

<div id="general" class="container">
    <div id="title">
        <center>
            <h2>Online-Diary Hakkında</h2>
        </center>
    </div>
    <hr>
    <div id="text-image"> 
        <div id="border" style=" border-radius: 10px; background-color: white; margin: 25px 0px 50px 50px; padding: 25px 25px 25px 25px; width: 1200px; min-height: 250px;">
            <p>Bu proje hakkında aslında uzun uzun bir şeyler yazmak zor diyebilirim. Çünkü aslında bu proje benim okulumdaki bilgisayar dersinden aldığım bir proje üzerine çıktı. Bu projeyi geliştirmek için python ve django ile web sitesi geliştirme öğrenmek gayet keyifli ve eğlenceliydi. Yeni bir şeyler öğrenmek ve bunları icraate dökebilmek insana iyi hissettiyor.</p>
            <p>Aynı zamanda projenin içeriğinden de bahsedecek olursam bu web sitesi insanların gerek kayır olarak gerekse olmadan özgür bir biçimde günlerini yazabilecekleri ve diğer insanlarla paylaşabilecekleri bir ortam sağlamak. Yani aslında instagram, tiktok gibi sosyal medya mecralarının okumaya düşkün olanlar için yapılmış hali. Ve aynı zamanda bunu geliştirirken en çok istediğim şey bir sitenin kayıt olma gibi işlerini gerektirmeden çalışabilmesi. Çünkü şu anda aşağı yukarı her sitede üyelik en temel yapı. Çünkü bazı getirileri var, bense insanları herhangi bir zorlama olmadan kayıt olmadan okuyup yazabilecekleri bir site geliştirmek istedim. Tabii hiç olmasın da demedim fakat tercihe bıraktım. İşte bu kadar sevgili okuyucu. Sen bu yazıyı okuyorsan kim bilir daha ne günlükler, yazılar okursun. Şimdiden iyi okumalar...</p>
        </div>
    </div>
    <hr>
    <div id="contact">
        <div style=" border-radius: 10px; background-color: white; margin: 25px 0px 50px 50px; padding: 25px 25px 25px 25px;">
            <h5>İletişim Bilgileri ve Benim Hakkımda</h5>
            <hr>
            <p>Benim hakkımda aslında bilmeniz gereken 2023 Nisan ayı itibariyle Şehit Münir Alkan Fen Lisesinde okuyan bir 10.sınıf öğrencisi olmam. Fakat bilgilerdir vesaire lazım olursa linkleri aşağıya bırakıyorum.</p>
            <a href="" >Instagram</a>
            <p style="margin-top: 10px;">Telefon No: 0512 345 67 89</p>
        </div>
    </div>
  </div>

{% endblock %}