{% extends "layout.html" %}

{% block head %}
<title>Giriş Yap!</title>
{% endblock %}

{% block body %}

<div style="background-color: rgb(210, 204, 204); margin: auto; margin-top: 100px; width: 500px; height: 450px; padding: 25px 15px 25px 15px; border-radius: 10px;">
    <div>
        <center>
            <h2>Giriş Yapın!</h2>
            <hr>
            <form method="post">
                {% csrf_token %}

                {{ form.username }}
                {{ form.email }}
                {{ form.password }}

                <br>

                <button type="submit" class="btn btn-danger" style="width: 350px; height: 45px; border-radius: 10px; margin-bottom: 15px; font-size: 22px;">Onayla!</button>
                <br>
                <a href="/user/change-password/">Parolayı Değiştir</a>
            </form>
        </center>
    </div>
</div>

{% endblock%}